<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <style>-->
<!--        .navbar {-->
<!--            background-color: yellow;-->
<!--        }-->

<!--        .navbar-brand, .nav-link {-->
<!--            color: blue !important;-->
<!--        }-->
<!--    </style>-->
<!--    <meta charset="UTF-8">-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">&ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<!--    <title>Home</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div th:replace="header :: headerFragment"></div>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:replace="header :: headerFragment"></div>
</body>
</html>